.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-all {
  cursor: pointer;
}

.hero {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 695px;
  margin-top: 50px;
}

.dark-1 {
  color: rgb(13, 19, 33);
}
.dark-2 {
  color: rgba(13, 19, 33, 0.7);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 998px;
  text-align: center;
}

.hero-content img {
  margin-top: 26px;
}

.hero .hero-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin: 32px 0 24px 0;
}

.hero .hero-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 852px;
}

.btn-contact {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin: 32px 0px 45px 0px;
  gap: 10;
  width: 244px;
  height: 65px;
  padding: 21px 24px 21px 24px;
}

/* Goal section style */
.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.goal-content {
  margin: 74px 152px 0 148px;
  max-width: 1140px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 0px 97px;
}

.goal-details {
  padding: 48px;
  max-width: 852px;
}

.goal-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin: 0 47px 24px 47px;
}

.goal-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 852px;
}

.objective {
  display: flex;
  text-align: left;
  padding: 48px 0;
}

.objective-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  max-width: 390px;
  margin-bottom: 16px;
}

.objective-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.objective-content {
  max-width: 477px;
  margin-right: 99px;
}

.first-image {
  max-width: 259px;
  padding: 3px 13px 19px 0;
}

.second-image {
  margin-right: 32px;
  padding: 0 16px 31px 0;
  height: 208px;
  max-width: 223px;
}

.third-image {
  max-width: 206px;
  height: 187px;
  padding: 26px 16px;
}

.secondary-btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  margin-bottom: 5px;
}

/* Inspiration style starts here */

.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.inspiration-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 20px;
}

.inspiration-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
  max-width: 852px;
}

iframe {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  width: 1076px;
  height: 550px;
  padding: 32px;
}

/* Target section style */

.target {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 144px 50px 144px;
  text-align: center;
}

.target-head {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}

.target-head-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 852px;
}

.target-content {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 48px 0;
}

.target-content .box {
  padding: 40px;
  border-radius: 16px;
  margin: 12px;
  min-height: 305px;
}

.target-content .img {
  width: 56px;
  height: 56px;
  padding: 0 8.16px;
}

.target-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 8px;
}

.target-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 284px;
  margin-bottom: 24px;
}

.box a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: rgb(13, 19, 33);
}

/* Support section styles */

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) ,url("../assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 64px 48px 64px 48px;
  max-width: 1044px;
}

.support .title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.support .desc {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  max-width: 606px;
}

.feedback {
  display: flex;
  padding: 19px 20px 19px 20px;
}

.support input[type="text"] {
  width: 520px;
  height: 57px;
  padding: 0 0 0 16px;
  font-size: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
}

.support button {
  margin-left: 16px;
  width: 120px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* Footer style here */

footer {
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.03);
  width: auto;
  margin-top: 50px;
  
}

.footer {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer .title {
  font-size: 20px;
  font-weight: 600;
}
